<div class="homeHeader">
    <h1>Todos os pensamentos</h1>
    <form action="/" method="GET">
        <input type="text" id="searchText" name="search" placeholder="Faça uma busca por pensamentos"/>
        <input type="submit" value="Buscar" class="btn">
    </form>
    <div class="orderContainer">
        <span>Ordenar por:</span>
        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="bi bi-arrow-up"></i></button>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="bi bi-arrow-down"></i></button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>
<div class="toughtsContainer">
    {{#each toughts}}
        <figure>
            <blockquote>
                "{{this.title}}"
            </blockquote>
            <figcaption>por <span>{{this.User.name}}</span></figcaption>
        </figure>
    {{/each}}
</div>