* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
  background: #291e0d;
  color: #fff;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem 3rem;
  margin-bottom: 1rem;
  border-bottom: #c5850f 2px dashed;
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 2.5rem;
  font-size: 1.35rem;
}

#navbar ul li a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}
#navbar ul li a:hover {
  color: #c5850f;
}

/* Container */
.container {
  min-height: 80vh;
  padding: 2rem;
}

/* Mensagem */
.message {
  color:#0197bd;
  padding: 0.5rem;
  background: #9cfcff;
  border: 1px solid #08daff;
  border-radius: 0.5rem;
  margin: 0 auto 2rem;
  text-align: center;
  font-weight: bold;
  width: fit-content;
}

/* Registro */
.authContainer {
  max-width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.authContainer h2, .toughtFormContainer h1 {
  color: #fff;
  border-left: 4px solid #c5850f;
  padding-left: 1rem;
}

.authContainer a {
  color: #c5850f;
  text-decoration: none;
  font-weight: bold;
}

.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formControl label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.formControl input, .formControl textarea {
  padding: 0.7rem;
  border: 1px solid #c5850f;
  border-radius: 0.5rem;
  background: #291e0d;
  color: #fff;
}


form input[type='submit'], .btn {
  background: none;
  color: #c5850f;
  border: 2px dashed #c5850f;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

form input[type='submit']:hover, .btn:hover {
  background: #c5850f;
  color: #fff;
}

/* Criar pensamento */

.toughtFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.toughtFormContainer a {
  color: #c5850f;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

.toughtFormContainer a:hover {
  color: #fff;
}

.toughtFormContainer form, .toughtFormContainer h1 {
  width: 40%;
}

/* Footer */
footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px dashed #c5850f;
}

footer span {
  color: #c5850f;
  font-weight: bold;
}
